</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/popper.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/bootstrap.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.flot.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.flot.resize.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.flot.crosshair.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.flot.pie.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.bxslider.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/moment.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.bootstrap.wizard.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/summernote.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/fullcalendar.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/morris.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/raphael.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.flot.tooltip.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery.mark.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/md-snackbars.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/zabuto_calendar.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-world-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-africa-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-asia-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-cn-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-europe-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-in-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-north_america-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-oceania-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-south_america-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-uk_countries-mill.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/jquery-jvectormap-us-aea.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/gmaps.min.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/spark.js"></script>
<script src="/jinritoutiao/web/assets/admin/bootstrap/dashboard.js"></script>
<script src="/jinritoutiao/web/assets/admin/css/news.js"></script>