<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>今日头条</title>
    <link rel="stylesheet" href="/jinritoutiao/web/assets/index/css/index.css">
    <link rel="stylesheet" href="/jinritoutiao/web/assets/index/css/rem.css">
    <link rel="icon" href="http://s3.pstatp.com/image/toutiao_mobile/short_cut_icon_1.png" type="image/x-icon">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_790965_48pq226u44t.css">
</head>
<body>
<header class="indexheader">
    <div class="mail">
        <i class="iconfont icon-tubiao209"></i>
    </div>
    <div class="title">
        <div class="img">
            <img src="http://s3.pstatp.com/toutiao/static/img/logo.201f80d.png" alt="">
        </div>
        <div class="refresh">
            <i class="iconfont icon-shuaxin"></i>
        </div>
    </div>
    <div class="search">
        <i class="iconfont icon-sousuo"></i>
    </div>
</header>
<div class="header-lines">
    <div class="header-line">
        <div class="items-line">
            <div class="items">
                <?php foreach($array as $k => $v ) { ?>
                <div class="item active">
                    <span><?php echo $v['name'] ?></span>
                </div>
                <?php }?>
            </div>
        </div>
        <div class="plus">
            <i class="iconfont icon-jiahao"></i>
        </div>
    </div>
</div>
<div class="theme-body">
    <div class="main-body">
        <?php foreach($course as $k => $v ) {?>
        <div class="news">
            <a href="">
                <div class="new">
                    <div class="title">
                        <p><?php echo $v['title'] ?></p>
                    </div>
                    <div class="desc">
                        <span class="top">置顶</span>
                        <span class="address">人民网</span>
                        <span class="comment">评论&nbsp;42</span>
                        <span class="time">8分钟前</span>
                    </div>
                </div>
            </a>
        </div>
        <?php } ?>
        <?php foreach($course as $k=> $v ) {?>
        <div class="news-picture">
            <a href="">
                <div class="new">
                    <div class="title">
                        <p><?php echo $v['title'] ?></p>
                    </div>
                    <div class="desc">
                        <div class="top" style="display: none"></div>
                        <div class="address">第一财经</div>
                        <div class="comment">评论&nbsp;11</div>
                        <div class="time"></div>
                    </div>
                </div>
                <div class="picture">
                    <img src=" <?php echo $v['image'] ?> " alt="">
                </div>
            </a>
        </div>
        <?php }?>
        <?php foreach($course as $k=>$v ) {?>
        <div class="news-pictures">
            <a href="">
                <div class="title">
                    <p><?php echo $v['title']?></p>
                </div>
                <div class="pictures">
                    <ul class="clearfix">
                        <li class="list-img"><img src=" <?php echo $v['image'] ?> " alt=""></li>
                        <li class="list-img"><img src=" <?php echo $v['image'] ?> " alt=""></li>
                        <li class="list-img"><img src=" <?php echo $v['image'] ?> " alt=""></li>
                    </ul>
                </div>
                <div class="desc">
                    <div class="top" style="display: none"></div>
                    <div class="address">脑洞历史观</div>
                    <div class="comment">评论&nbsp;56</div>
                    <div class="time">1小时</div>
                </div>
            </a>
        </div>
        <?php }?>
    </div>
    <div class="bottom">
        <span>加载中...</span>
    </div>
</div>
<div class="boxs" style="display: none">
    <div class="box">
        <div class="banner"></div>
        <div class="word">
            <span>已加载好您感兴趣的头条</span>
        </div>
        <div class="button">
            <button type="button" class="btn" value="立即打开">
                立即打开
            </button>
        </div>
        <div class="close">
            <i class="iconfont icon-cuohao"></i>
        </div>
    </div>
</div>
<div class="backdrop"></div>
</body>
<script src="/jinritoutiao/web/assets/index/js/index.js"></script>
</html>