<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择频道</title>
    <link rel="icon" href="http://s3.pstatp.com/image/toutiao_mobile/short_cut_icon_1.png" type="image/x-icon">
    <link rel="stylesheet" href="/jinritoutiao/web/assets/index/css/plus.css">
    <link rel="stylesheet" href="/jinritoutiao/web/assets/index/css/rem.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_790965_48pq226u44t.css">
</head>
<body>
<div class="channels-container">
    <div class="header">
        <div class="return">
            <i class="iconfont icon-2fanhui"></i>
        </div>
        <div class="theme">
            <span>频道管理</span>
        </div>
    </div>
</div>
<div class="headerline">
    <span>点击删除以下频道</span>
</div>
<div class="delete">
    <ul class="delete-content">
        <li class="channelFigure recommend">
            <span>推荐</span>
        </li>
        <li class="channelFigure">
            <span>热点</span>
        </li>
        <li class="channelFigure">
            <span>社会</span>
        </li>
        <li class="channelFigure">
            <span>娱乐</span>
        </li>
        <li class="channelFigure">
            <span>科技</span>
        </li>
        <li class="channelFigure">
            <span>汽车</span>
        </li>
        <li class="channelFigure">
            <span>体育</span>
        </li>
        <li class="channelFigure">
            <span>财经</span>
        </li>
        <li class="channelFigure">
            <span>军事</span>
        </li>
        <li class="channelFigure">
            <span>国际</span>
        </li>
        <li class="channelFigure">
            <span>时尚</span>
        </li>
        <li class="channelFigure">
            <span>游戏</span>
        </li>
    </ul>
</div>
<div class="addline">
    <span>点击添加以下频道</span>
</div>
<div class="add">
    <ul class="add-content">
        <li class="channelFigure">
            <span>旅游</span>
        </li>
        <li class="channelFigure">
            <span>历史</span>
        </li>
        <li class="channelFigure">
            <span>探索</span>
        </li>
        <li class="channelFigure">
            <span>美食</span>
        </li>
        <li class="channelFigure">
            <span>育儿</span>
        </li>
        <li class="channelFigure">
            <span>养生</span>
        </li>
        <li class="channelFigure">
            <span>故事</span>
        </li>
        <li class="channelFigure">
            <span>美文</span>
        </li>
    </ul>
</div>
</body>
</html>